main { 
    padding-top: 250px;
}

.master-card {
    flex-direction: row;
    max-width: 790px;
    width: 100%;
    margin: 0px auto 60px;
    overflow: visible;
}

.master-card .image {
    display: block;
    width: 40%;
    height: auto;
    background-image: url('../images/drawers.jpg');
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.master-card__body {
    width: 60%;
    padding-bottom: 20px
}

.master-card__title,
.master-card__content {
    padding: 0px 36px;
    margin-bottom: 18px;
}

.master-card__title {
    font-size: 1.9rem;
}

.share__menu--open {
    padding-left: 36px;
    padding-right: 36px;
}

.button--share {
    margin-right: 36px
}

.share__menu--close {
    top: calc(0% - 48px);
    justify-content: center;
    height: 0px;
    width: 30px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    background-color: hsl(217, 19%, 35%);
    border-radius: 8px;
    transition: 0s ease
}

.share__menu--open {
    top: calc(0% - 48px);
    left: calc(50% + 65px);
    justify-content: center;
    gap: 16px;
    height: 52px;
    width: 240px;
    padding-left: 28px;
    padding-right: 28px;
    overflow: visible;
    border-radius: 10px;
}

.share__menu--open::after,
.share__menu--close::after {
    position: absolute;
    bottom: -14px;
    left: calc(50% - 13px);
    content: '';
    display: block;
    width: 26px;
    height: 16px;
    background-color: hsl(217, 19%, 35%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}